src/sokaris.xcodeproj/project.xcworkspace/xcuserdata/garnierclement.xcuserdatad/UserInterfaceState.xcuserstate

src/sokaris.xcodeproj/xcuserdata/garnierclement.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

src/sokaris.xcodeproj/project.xcworkspace/xcuserdata/garnierclement.xcuserdatad/UserInterfaceState.xcuserstate

src/sokaris.xcodeproj/project.xcworkspace/xcuserdata/joel.xcuserdatad/UserInterfaceState.xcuserstate

src/.DS_Store

src/sokaris.xcodeproj/project.xcworkspace/xcuserdata/garnierclement.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

src/VS2012/Debug/

src/VS2012/sokaris.sdf

src/VS2012/sokaris.opensdf

src/VS2012/sokaris.v11.suo

src/VS2012/x64/Debug/

.DS_Store
