
src/sokaris.xcodeproj/project.xcworkspace/xcuserdata/garnierclement.xcuserdatad/UserInterfaceState.xcuserstate

src/sokaris.xcodeproj/xcuserdata/garnierclement.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

src/sokaris.xcodeproj/project.xcworkspace/xcuserdata/garnierclement.xcuserdatad/UserInterfaceState.xcuserstate

src/sokaris.xcodeproj/project.xcworkspace/xcuserdata/joel.xcuserdatad/UserInterfaceState.xcuserstate

src/.DS_Store

src/sokaris.xcodeproj/project.xcworkspace/xcuserdata/garnierclement.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
